extends layout

block content
  nav.navbar.navbar-default.navbar-static-top
    div  
      #nav.container
  .container#top.well.col-xs-10.col-xs-offset-1
    h1#davet
    h4#ss
  .container#reward.well.col-xs-10.col-xs-offset-1
    .container#rewards.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
      h4#count
      #numbers.row.norow
        #asayisi.aleft.col-xs-3 Katılan arkadaş sayısı: 0
        .col-xs-3
          button#five.btn.btn-default.btn-circle.cr 5
          span#bes.glyphicon
        .col-xs-3
          button#ten.btn.btn-default.btn-circle.cr 10
          span#on.glyphicon
        .col-xs-3
          button#fifteen.btn.btn-default.btn-circle.cr 15
          span#onbes.glyphicon
      .progress
        #pr.progress-bar.progress-bar-warning.progress-bar-striped.active(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;min-width: 2em")
          span#prog
      #inform.row.norow
        .aleft.col-xs-3 Ödülünüz:
        .col-xs-3 Açılış Partisi
          span.glyphicon.glyphicon-glass
        .col-xs-3 Beta Testi
        .col-xs-3 Groop Hediye Paketi
    .container#bottom.col-sm-10.col-sm-offset-1.col-xs-12
      #link.row
        label.col-xs-4.col-xs-offset-4.col-sm-2.col-sm-offset-0(for='sharelink') Linkiniz:
        input#sharelink.col-xs-10.col-xs-offset-1.col-sm-offset-0.col-sm-4
        span#fb.col-sm-3.col-xs-5
        span#tw.col-sm-3.col-xs-5
      #socialm.row  
  script(src="/javascripts/share.js")
